/* optionBar */
.option-bar {
  display: flex;
  justify-content: space-around;
}

.quote-options {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
}

.save-button {
  align-self: flex-end;
  border-radius: 10px;
}

.save-button:focus,
.save-button:active {
  outline: none;
  box-shadow: none;
}

.save-button:hover {
  background-color: var(--grey200);
}
