.memo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 2px 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.memo .text {
  width: 100%;
  justify-content: center;
  align-items: center;
  place-items: center;
}

/* Options Toggle */
.memo-options-toggle {
  color: black;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  border-radius: 30px;
}

.memo-options-toggle:hover {
  color: black;
  background-color: var(--grey200);
}

.memo-options-toggle:focus,
.memo-options-toggle:active:focus,
.memo-options-toggle:active {
  border: none;
  border-width: 0;
  outline: none !important;
  color: black;
  box-shadow: none !important;
  background-color: transparent;
}

.memo-options-toggle::after {
  display: none;
}

/* Options item */
.memo-options-item:hover,
.memo-options-item:active,
.memo-options-item:active:focus,
.memo-options-item:checked,
.memo-options-item:focus,
.memo-dropdown-item:hover,
.memo-dropdown-item:hover,
.memo-dropdown-item:active {
  background-color: var(--grey200);
  color: black;
}

.delete-button:hover,
.delete-button:focus {
  color: white;
  background-color: var(--darkRed);
}
