/* optionBar */
.option-bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.quote-options {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  /* justify-content: flex-start; */
}

.quote-option-button {
  align-self: center;
  align-self: flex-end;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
}

.quote-option-button:focus,
.quote-option-button:active {
  outline: none;
  box-shadow: none;
}

.quote-option-button:hover {
  background-color: var(--grey200);
}
