/* Quote scroll */
.quotes-scroll{
  /*height: 90vh;
  overflow-y: auto;*/
}

/* Quote Card */ 

.dropdown-toggle{
  background-color: #FFF;
}

.quote-dropdown .danger:hover{
  background-color: #C14242;
  color: #FFF;
}

.quote-dropdown{
  display: none;
}

.quote-card:hover .quote-dropdown{
  display: block;
}

.quote-card{
  border-radius: 35px;
  font-family: "Georgia";
}

.quote-card .card-header{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 2rem;
}

.quote-card-body {
  margin: 0px 0px;
  padding: 2% 2% 0% 2%;
}

.indented-text {
  font-size: 22px;
  /*white-space: pre-line;*/
  /*line-height: 1.6;*/
}

/* Edit more */
.quote-card-body{
  padding-bottom: 1rem;
}

.edit .quoteDetails{
  padding: 0.7rem;
}

.memo-action-btn{
  align-self: center;
  width: auto;
  height: 60%;
}

.smallText,
input.smallText {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 11px;
  line-height: 14px;
}

.blockquote-footer a{
  color: var(--darkPurple);
  font-weight: bold;
}

.greyText {
  color: grey;
}

.greenText {
  color: #26724c;
}

/* Search */
.search{
  border-radius: 15px;
}

/* Dashboard */

.dashboard-card {
  padding: 4%;
  border-radius: 30px;
}

.dashboard-card  ul{
  border-radius: 20px;
}

.dashboard-card h2 {
  font-size: 22px;
}

.dashboard-card .list-item-title{
  font-size: 18px;
}
