.new-quote {
  width: 500px;
  padding: 0 10px;
  align-self: center;
  border-radius: 10px;
  border-color: rgba(99, 99, 99, 0.2);
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 8px 1px;
}

/* Quote Editing */
.editing-quote {
  max-width: 500px;
  min-width: 250px;
  height: fit-content;
  padding: 0 10px;
  align-self: center;
  border-radius: 10px;
  border-color: rgba(99, 99, 99, 0.2);
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
  width: 100%;
}

.inline-edit {
  border: 0;
  padding: 8px;
}

.inline-edit:focus {
  outline: none;
}

.inline-edit:hover {
  border: 0;
}

/* Author Book bar */
.author-book-bar {
  display: flex;
}
.half {
  width: 50%;
}

.quote-text {
  width: 100%;
  overflow: auto;
  /* height: auto;
  min-height: 100px;
  max-height: 700px; */
}

/* Labels */
.labels {
  display: flex;
  justify-content: flex-start;
}

/* Tags */
.tags {
  display: flex;
  justify-content: flex-start;
}
