.quote {
  max-width: 500px;
  min-width: 250px;
  border-radius: 20px;
  font-size: 18px;
}

.quote-card-body {
  font-family: "Georgia";
}

.quote:hover,
.quote-editing {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px; */
  transition: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.quote .option-bar > * {
  opacity: 0;
}

.quote:hover .option-bar > * {
  transition: 0.4s;
  opacity: 1;
}

.card-header {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 2rem;
}

.blockquote-footer {
  font-size: 14px;
  color: var(--darkGrey);
}

/* .tag {
  border: 1px solid var(--darkPurple);
  font-size: 14px;
  color: var(--darkPurple);
  padding: 2px;
  border-radius: 10%;
  margin: 2px;
}

.tag:hover {
  background-color: var(--darkPurple);
  color: white;
} */

/* Quote Footer */
.card-footer {
  background-color: transparent;
  border: transparent;
  height: fit-content;
}
